*{
    margin: 0;
    padding: 0;
    font-family: "Arima", system-ui;
    border: border-box;
}

body{
    background-color: #0B0909;
    color: white;
}


/* Header Section */
#header-section{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color: #44444C;
    font-weight: 700;
    font-size: 1.2rem;
    /* border-bottom: 1px dashed #D6D6D6; */
    text-shadow: 7px 7px 7px rgb(10, 8, 8, 1);
}

#portfolio-icon{
    display: inline; 
}

#header-section a{
    color: white;
    text-decoration: none;
}

#header-section a:hover{
    font-size: 1.23rem;
    color: black;
}


/* Introduction Section */
#introduction-section{
    display:flex;
    text-align: justify;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1rem;
}

#span-hi{
    font-size: 1.3rem;
    line-height: 30px;
}

#span-name{
    font-size: 1.3rem;
}

#span-developer{
    font-size: 0.8rem;
    color: #8C8C8C;
}

#developer-image{
    width: 300px;
    height: 250px;
    border-radius: 50%;
    margin-top: 80px;
    margin-left: 50px;
    /* border: 1px solid #D6D6D6; */
    backdrop-filter: blur(20px);
    /* box-shadow: 0 0 20px rgba(223, 235, 242, 1); */
}

#github-button{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    color: white;
    outline: none;
    border: 2px solid #D6D6D6;
    border-radius: 5px;
    padding: 4px 6px 4px 6px;
    text-decoration: none;
    margin-left: 100px;
    margin-right: 10px;
}

#resume-button{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    background-color: white;
    color: black;
    outline: none;
    border: 2px solid #D6D6D6;
    border-radius: 5px;
    padding: 4px 6px 4px 6px;
    text-decoration: none;
}


/* Education Section */
#education-section{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 80px;
}

#education-para{
    font-size: 0.9rem;
}

#education-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    border: 2px dashed white;
    border-radius: 20px;
    height: 230px;
    width: 35%;
    background-color: transparent;
    color: white;
    margin-top: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px rgba(223, 235, 242, 1);
}

.box-content{
    margin-left: 16px;
    margin-right: 16px;
}

#box-image1{
    outline: none;
    border: none;
    border-radius: 50%;
    height: 72px;
    width: 80px;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

#box-image2{
    outline: none;
    border: none;
    border-radius: 50%;
    height: 76px;
    width: 79px;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.education-main-line{
    line-height: 10px;
    font-size: 1.1rem;
}

.box-inner-content{
    color: #8C8C8C;
    font-size: 0.8rem;
}

.education-bio{
    font-size: 1rem;
}


/* Projects Section */
#projects-section{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 80px;
}

#projects-para{
    font-size: 0.9rem;
}

#projects-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects-box{
border: 2px dashed white;
border-radius: 20px;
height: 330px;
width: 25%;
background-color: transparent;
color: white;
padding: 0px 0px 15px;
margin-top: 40px;
backdrop-filter: blur(20px);
box-shadow: 0 0 5px rgba(223, 235, 242, 1);
}

.projects-image{
    height: 150px;
    width: 90%;
    margin-top: 10px;
    object-fit: contain;
}

.projects-main-line{
    line-height: 20px;
    text-align: left;
    font-size: 1.1rem;
    padding-left: 16px;
    padding-right: 16px;
}

.projects-date{
    text-align: left;
    font-size: 0.8rem;
    color: #8C8C8C;
    padding-left: 16px;
    padding-right: 16px;
}

.projects-bio{
    font-size: 1rem;
    text-align: justify;
    padding-left: 16px;
    padding-right: 16px;
}


/* Skills Section */
#skills-section{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 80px;
}

#skills-para{
    font-size: 0.9rem;
}

#skills-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px dotted white;
    border-radius: 20px;
    height: 310px;
    width: 45%;
    background-color: black;
    color: white;
    padding: 0px 0px 20px;
    margin-top: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px rgba(223, 235, 242, 1);
}

.skills-logo{
    outline: none;
    border: none;
    height: 65px;
    width: 45px;
    padding:30px 40px 30px 40px;
    background-size: cover;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}


/* Experience Section */
#experience-section{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 80px;
}

#experience-para{
    font-size: 0.9rem;
}

#experience-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.experience-box{
    border: 2px dotted white;
    border-radius: 20px;
    height: 140px;
    width: 40%;
    background-color: transparent;
    color: white;
    padding: 10px 15px 5px 15px;
    margin-top: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px rgba(223, 235, 242, 1);
}

.company-logo{
    float: left;
    outline: none;
    border: none;
    border-radius: 50%;
    height: 76px;
    width: 79px;
    background-size: cover; 
    margin-left : 5px; 
    margin-right: 10px;
}

.experience-main-line{
    text-align: left;
    line-height: 20px;
    font-size: 1.1rem;
}

.experience-bio{
    text-align: left;
    color: #8C8C8C;
    font-size: 0.8rem;
}

.experience-developer{
    text-align: left;
    font-size: 1rem;
    margin-left : 5px; 
}

.experience-skills{
    text-align: left;
    font-size: 1rem;
    margin-left : 5px; 
}


/* Contact Section */
#contact-section{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 80px;
}

#contact-para{
    font-size: 0.9rem;
}

#contact-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    text-align: center;
    /* border: 2px dotted white; */
    border-radius: 20px;
    height: 220px;
    width: 40%;
    background-color: transparent;
    color: white;
    padding: 10px 15px 5px 15px;
    margin-top: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px rgba(223, 235, 242, 1);
}

.form-text{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.form-label{
    margin-bottom: 20px;
    font-size: 1rem;
}

#client-email{
    margin-left: 16px;
}

#client-number{
    margin-left: 10px;
}

.form-control{
    margin-bottom: 20px;
    border: none;
    outline: none;
    padding: 0px 1px;
    padding-left: 1px;
}

.form-check-label{
    font-size: 1rem;
}

.btn-primary{
    font-size: 1rem;
    font-weight: 700;
    /* text-align: center; */
    background-color: transparent;
    color: white;
    outline: none;
    border: 2px solid #D6D6D6;
    border-radius: 5px;
    padding: 4px 9px 4px 9px;
    text-decoration: none;
}


/* Footer Section */
#footer-section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #44444C;
    color: black;
    font-weight: 700;
    margin-top: 80px;
    /* border-top: 1px dashed #D6D6D6; */
}

.footer-main-line{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
    color: white;
    margin-top: 30px;
    text-shadow: 7px 7px 7px rgb(10, 8, 8, 1);
}

#social-media-links{
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    margin-top: 10px;
    text-shadow: 7px 7px 7px rgb(10, 8, 8, 1);
}

#copyright-icon{
    height: 14px;
}

#copyright-para{
    font-size: 1rem;
}


/* Media Queries for responsiveness */

/* Large devices (desktops, 1200px and up) */
/* @media (min-width: 1200px) {
    #header-section, #education-section, #projects-section, #skills-section, #experience-section, #contact-section {
        padding-left: 100px;
        padding-right: 100px;
    }
} */

/* Medium devices (tablets, 768px to 1199px) */
/* @media (max-width: 1199px) and (min-width: 768px) {
    #introduction-section {
        flex-direction: column;
        align-items: center;
    }

    #developer-image {
        margin-top: 20px;
        margin-left: 0;
        width: 250px;
        height: 220px;
    }

    #education-info, #projects-info, #skills-box, #experience-info {
        flex-direction: column;
        align-items: center;
    }

    .box, .projects-box, #skills-box, .experience-box {
        width: 80%;
        height: auto;
    }

    form {
        width: 80%;
    }
} */

/* Small devices (phones, less than 768px) */
/* @media (max-width: 767px) {
    #header-section {
        font-size: 1rem;
    }

    #introduction-section {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    #developer-image {
        width: 200px;
        height: 200px;
    }

    .box, .projects-box, #skills-box, .experience-box {
        width: 90%;
        height: auto;
    }

    #education-section, #projects-section, #skills-section, #experience-section, #contact-section {
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    form {
        width: 90%;
    }

    #github-button, #resume-button {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
} */
